astroid==2.4.2
cffi==1.14.0
cycler==0.10.0
guietta==0.3.5
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.2
mccabe==0.6.1
numpy==1.19.0
pycparser==2.20
pydocstyle==5.0.2
pylint==2.5.3
pyparsing==2.4.7
PySide2==5.15.0
python-dateutil==2.8.1
scipy==1.5.1
shiboken2==5.15.0
six==1.15.0
snowballstemmer==2.0.0
sounddevice==0.3.15
toml==0.10.1
typed-ast==1.4.1
wrapt==1.12.1
yapf==0.30.0
